html{
background-image:url("../img/fond.png");
}
body{
  font-family:"arial";
background-color;white;
margin-left;18;
margin-righ;18;
}

header{

background-color:#b8cb21;
color:black;
padding-bottom:8;
{

nav{

  margin-left: :30:
  widh:65:
  margin-top:5:
  text-align:right;
  font-weight: 100:
  font-weight:normal;
}
